# misc
.DS_Store
__pycache__/
*.pyc

# editors
.vscode/
.idea/

# build
build/
dist/
.eggs/
*.egg-info/
venv/

# data
deep_rl_asset_allocation/data/csv/daily/*.csv

# repo
*.pdf
deep_rl_asset_allocation/results/

# zipline
*.pkl